## Purpose

### User parameters:

In [1]:
root_dir = 'C:/Users/ssmal/learning/Projects/financial modeling'
file_loc = f'{root_dir}/data/cheesco-model.xlsm'
actual_dates = ['2016-12-31','2017-12-31','2018-12-31']
forecast_dates = ['2019-12-31','2020-12-31','2021-12-31','2022-12-31','2023-12-31']

### Python set-up

In [2]:
from finModel.analysis.ratios import ebitda_revenue_ratio
from finModel.statements.main import FinancialStatement, report_table
from finModel.analysis.dcf_valuation import DCFValuation
from extract import source_balance, source_income
import plotly.express as px
import pandas as pd
import numpy as np

In [3]:
statement = FinancialStatement(comp="Cheese Co.",
                               a_date=actual_dates,
                               f_date=forecast_dates,
                               inc=source_income(file_loc,actual_dates),
                               bs=source_balance(file_loc,actual_dates))

In [4]:
dcf = DCFValuation(wacc=0.1,lt_growth=0.02,fin=statement)

### 1. Financial statements

#### 1.1: Income statement

In [5]:
report_table(statement.income,statement.forecast_dates)

,component,2016A,2017A,2018A,2019F,2020F,2021F,2022F,2023F
0,Revenues,177203.000000,188618.000000,208366.000000,225985.015395,245093.859761,265818.510079,288295.595694,312673.299057
1,Other revenues,3520.000000,2416.000000,2585.000000,2585.000000,2585.000000,2585.000000,2585.000000,2585.000000
2,Total revenues,180723.000000,191034.000000,210951.000000,228570.015395,247678.859761,268403.510079,290880.595694,315258.299057
3,Cost of goods sold,-142394.367467,-150572.166400,-157523.118425,-177612.951749,-192631.550423,-208920.091991,-226585.960304,-245745.619379
4,Gross margin,38328.632533,40461.833600,53427.881575,50957.063645,55047.309338,59483.418089,64294.635390,69512.679677
5,Operating expenses,-18011.315200,-19247.897600,-23867.008000,-23971.957850,-25998.979026,-28197.401090,-30581.717360,-33167.646681
6,EBITDA,20317.317333,21213.936000,29560.873575,26985.105795,29048.330312,31286.016999,33712.918030,36345.032996
7,D&A,-2907.800000,-4649.800000,-6430.660000,-5417.892783,-5876.019043,-6372.883551,-6911.761935,-7496.206805
8,EBIT,17409.517333,16564.136000,23130.213575,21567.213013,23172.311269,24913.133448,26801.156096,28848.826191
9,Interest expense,-1266.300000,-2190.900000,-2663.920000,-2663.920000,-2663.920000,-2663.920000,-2663.920000,-2663.920000
10,Extraordinary income,-317.580000,-864.300000,-320.260000,0.000000,0.000000,0.000000,0.000000,0.000000
11,EBT,15825.637333,13508.936000,20146.033575,18903.293013,20508.391269,22249.213448,24137.236096,26184.906191
12,Tax rate,-0.240482,-0.225791,-0.189361,-0.218545,-0.218545,-0.218545,-0.218545,-0.218545
13,Taxes,-3805.776000,-3050.192000,-3814.880000,-4131.212138,-4481.997654,-4862.444897,-5275.062004,-5722.569195
14,Net income,12019.861333,10458.744000,16331.153575,14772.080875,16026.393615,17386.768551,18862.174091,20462.336996

#### 1.2: Balance Sheet

In [6]:
report_table(statement.balance,statement.forecast_dates)

,component,2016A,2017A,2018A,2019F,2020F,2021F,2022F,2023F
0,Intangible assets,5961.600000,5840.000,5650.000000,5650.000000,5650.000000,5650.000000,5650.000000,5650.000000
1,PP&E,45106.400000,49072.400,56109.200000,59057.160319,64050.916579,69466.934956,75340.921098,81711.599849
2,Financial assets,8824.000000,9831.000,10323.000000,10323.000000,10323.000000,10323.000000,10323.000000,10323.000000
3,Inventory,31167.200000,36396.800,46212.000000,44638.231727,48412.752004,52506.438224,56946.278425,61761.542702
4,Trade receivable,32883.600000,38556.000,43581.600000,45132.390808,48948.696196,53087.700793,57576.691403,62445.262150
5,Other assets,8841.600000,11359.200,17602.800000,14658.805762,15898.325282,17242.656113,18700.660891,20281.951659
6,Cash and equivalents,11791.200000,19408.800,8173.600000,16789.084486,22245.798079,28169.135443,34598.553360,41576.844995
7,Total Assets,144575.600000,170464.200,187652.200000,196248.673103,215529.488140,236445.865530,259136.105178,283750.201355
8,Trade payable,15891.200000,26351.600,36189.600000,30570.220510,33155.177681,35958.713699,38999.311158,42297.015504
9,Other liabilities,5969.038667,5800.356,8473.446425,7917.218143,8586.682395,9312.755216,10100.223313,10954.278149
10,Financial liabilities,41293.000000,50645.400,51120.800000,51120.800000,51120.800000,51120.800000,51120.800000,51120.800000
11,Shareholder's equity,81422.361333,87666.844,91868.353575,106640.434449,122666.828064,140053.596615,158915.770706,179378.107702
12,Total Liabilities & Equities,144575.600000,170464.200,187652.200000,196248.673103,215529.488140,236445.865530,259136.105178,283750.201355

#### 1.3: Cashflow statement

In [7]:
report_table(statement.cash,statement.forecast_dates)

,component,2016A,2017A,2018A,2019F,2020F,2021F,2022F,2023F
0,EBIT,17409.517333,16564.136000,23130.213575,2.156721e+04,2.317231e+04,2.491313e+04,2.680116e+04,28848.826191
1,Operating taxes,-4186.670138,-3740.027720,-4379.968336,-4.713397e+03,-5.064183e+03,-5.444630e+03,-5.857247e+03,-6304.754459
2,Operating tax rate,-0.240482,-0.225791,-0.189361,-2.185446e-01,-2.185446e-01,-2.185446e-01,-2.185446e-01,-0.218545
3,NOPAT,13222.847195,12824.108280,18750.245238,1.685382e+04,1.810813e+04,1.946850e+04,2.094391e+04,22544.071731
4,Add-back D&A,2907.800000,4649.800000,6430.660000,5.417893e+03,5.876019e+03,6.372884e+03,6.911762e+03,7496.206805
5,Gross Cash Flow,16130.647195,17473.908280,25180.905238,2.227171e+04,2.398415e+04,2.584139e+04,2.785567e+04,30040.278537
6,Inventory (movement),NaN,-5229.600000,-9815.200000,1.573768e+03,-3.774520e+03,-4.093686e+03,-4.439840e+03,-4815.264277
7,Trade receivables (movement),NaN,-5672.400000,-5025.600000,-1.550791e+03,-3.816305e+03,-4.139005e+03,-4.488991e+03,-4868.570747
8,Trade payable (movement),NaN,10460.400000,9838.000000,-5.619379e+03,2.584957e+03,2.803536e+03,3.040597e+03,3297.704346
9,Net change in working capital,NaN,-441.600000,-5002.800000,-5.596402e+03,-5.005868e+03,-5.429155e+03,-5.888233e+03,-6386.130678
10,Net change in other asset/liabilities,NaN,-2686.282667,-3570.509575,2.387766e+03,-5.700553e+02,-6.182580e+02,-6.705367e+02,-727.235931
11,Capex (movement),NaN,-8615.800000,-13467.460000,-8.365853e+03,-1.086978e+04,-1.178890e+04,-1.278575e+04,-13866.885557
12,Other investment (movement),NaN,-885.400000,-302.000000,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000
13,Extra-ordinary items,-317.580000,-864.300000,-320.260000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
14,Unlevered Free Cashflows,NaN,3980.525613,2517.875664,1.069722e+04,7.538448e+03,8.005072e+03,8.511153e+03,9060.026371
15,Interest expenses,-1266.300000,-2190.900000,-2663.920000,-2.663920e+03,-2.663920e+03,-2.663920e+03,-2.663920e+03,-2663.920000
16,Delta Taxes vs. Operating taxes,380.894138,689.835720,565.088336,5.821853e+02,5.821853e+02,5.821853e+02,5.821853e+02,582.185264
17,Delta Financial liabilities,NaN,9352.400000,475.400000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
18,Delta Equity (inc. dividends),NaN,-4214.261333,-12129.644000,7.275958e-12,-3.637979e-12,3.637979e-12,-1.091394e-11,0.000000
19,Net Cashflow,NaN,7617.600000,-11235.200000,8.615484e+03,5.456714e+03,5.923337e+03,6.429418e+03,6978.291635

#### 1.4: DCF valuation

In [8]:
dcf.to_pandas_df()

                        metric
0                         WACC       0.100000
1             long-term growth       0.020000
2             PV of Cash flows   33407.991827
3         PV of Cash flows (%)       0.317766
4             Continuing value  115515.336231
5       PV of Continuing value   71725.935406
6   PV of Continuing value (%)       0.682234
7             Enterprise value  105133.927234
8    (-) Financial liabilities  -51120.800000
9                     (+) Cash    8173.600000
10                Equity value   62186.727234

### 2. Visualisation

#### 2.1: Revenues and EBITDA

In [ ]:
fig = px.bar(data_frame=ebitda_revenue_ratio(statement.income),x="period",y="Revenues")
fig.show()